<div>
	<h1 class="font-bold text-4xl">Nuevo Usuario</h1>
	<div>
		<%= form_with model: @users , url: "/users/new_pass/#{params[:id]}" do |form| %>
			<%= form.fields_for :user do |user|%>
				<div class="card">
			  		<div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" style="background-color:Lavender">
              <%= user.label :Password_Actual %> <span class="card color_form"><%= user.password_field :old_encrypted_password, class: 'color_form'%></span>
              <%= user.label :Password_Nueva %> <span class="card color_form"><%= user.password_field :new_encrypted_password, class: 'color_form'%></span>
              <%= user.label :Repetir_Password%> <span class="card color_form"><%= user.password_field :repeated_encrypted_password, class: 'color_form'%></span>
						<br>
						<br> 
			<% end %>

          <%= form.submit "Cambiar Contraseña", class:"btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%></button>
        	</div>
			</div>
    <%end%>
  </div>
</div>
