<div class="w-full card">
  <div class="card-title">
    <div class="flex justify-between items-center">
      <h1 class=" font-bold text-4xl">Horario de la sucursal</h1>
    </div>
  </div>
  <div class="card-body">
    <div>
      <div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
        style="background-color:Lavender"> 
          <p> <b>Lunes:</b><br> 
          <% if @schedule.open_hour_monday && @schedule.close_hour_monday%>
            <b> Apertura:</b> <%= @schedule.open_hour_monday.strftime('%R')%> <br> 
            <b> Cierre:</b> <%=  @schedule.close_hour_monday.strftime('%R')%> </p>
          <% else %>
            <b> Cerrado. </b> </p> <br>
          <% end %>
        <p> <b>Martes:</b><br>
        <% if @schedule.open_hour_tuesday && @schedule.close_hour_tuesday%> 
          <b> Apertura:</b> <%= @schedule.open_hour_tuesday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_tuesday.strftime('%R')%> 
        <% else %>
          <b> Cerrado. </b> <br>
        <% end %>
        </p>
        <br>
        <p> <b>Miercoles:</b><br> 
         <% if @schedule.open_hour_wednesday && @schedule.close_hour_wednesday%> 
          <b> Apertura:</b> <%= @schedule.open_hour_wednesday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_wednesday.strftime('%R')%> </p>
        <% else %>
          <b> Cerrado. </b> <br>
        <% end %>
        <br>
        <p> <b>Jueves:</b><br> 
         <% if @schedule.open_hour_thursday && @schedule.close_hour_thursday%> 
          <b> Apertura:</b> <%= @schedule.open_hour_thursday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_thursday.strftime('%R')%> </p>
        <% else %>
          <b> Cerrado. </b> <br>
        <% end %>
        <br>
        <p> <b>Viernes:</b><br> 
         <% if @schedule.open_hour_friday && @schedule.close_hour_friday%> 
          <b> Apertura:</b> <%= @schedule.open_hour_friday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_friday.strftime('%R')%> </p>
        <% else %>
          <b> Cerrado. </b> <br>
        <% end %>
        <br>
        <p> <b>Sabado:</b><br> 
         <% if @schedule.open_hour_saturday  && @schedule.close_hour_saturday %> 
          <b> Apertura:</b> <%= @schedule.open_hour_saturday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_saturday.strftime('%R')%> </p>
          <% else %>
          <b> Cerrado. </b> <br>
        <% end %>
        <br>
        <p> <b>Domingo:</b><br> 
         <% if @schedule.open_hour_sunday && @schedule.close_hour_sunday%> 
          <b> Apertura:</b> <%= @schedule.open_hour_sunday.strftime('%R')%> <br> 
          <b> Cierre:</b> <%=  @schedule.close_hour_sunday.strftime('%R')%> </p>
          <% else %>
          <b> Cerrado. </b> 
        <% end %>
        <br>
      </div>
    </div>
    <%= link_to "Volver", index_branchoffice_path(), class:"btn btn-warning rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"%>
  </div>
</div>