<div class="w-full card">
  <div>
    <h1 class="font-bold text-4xl">Indice de sucursales</h1>
    <a href="/branchoffice/new"> <button type="button"
        class="btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"> Nueva Sucursal</button>
    </a>
    <% @branch_offices.each do |sucursal| %>
    <div class="row">
      <div class="card ">
        <div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
          style="background-color:Lavender">
          <div class="card-title ">
            <p> <b style="color:#FF7F63"> Sucursal: </b><%= sucursal.name %> </p> </a>
          </div>
          <div class="card-body">
            <p> <b> Telefono: </b><%= sucursal.tel %> </p>
            <p> <b> Direccion: </b><%= sucursal.direc %> </p>
            <p> <b> Localidad: </b><%= sucursal.location.name %> </p>
            <p> <b> Provincia: </b><%= sucursal.location.province %> </p>
            <% if can? :manage, @branch_offices %> 
             <p><a href="/branchoffice/edit/<%= sucursal.id%>"> <button
                class="btn btn-info rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"> Editar </a>
            </button>
            
              <a href="/schedule/edit/<%= sucursal.schedule.id%>"> <button
                  class="btn btn-warning rounded-lg py-3 ml-2 px-4 bg-gray-100 inline-block font-medium"> Editar Horario</a>
              </button> </p>
              <p><a href="/schedule/show/<%= sucursal.schedule.id%>"> <button
                class="btn btn-secondary rounded-lg py-3 ml-2 px-4 bg-gray-100 inline-block font-medium"> Ver Horario </a>
              </button>
              <a href="/branchoffice/destroy/<%= sucursal.id%>"> <button
                class="btn btn-danger rounded-lg py-3 ml-2 px-4 bg-gray-100 inline-block font-medium"> Borrar Sucursal </a>
              </button></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>