<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h2>Iniciar Sesion</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="material-symbols-outlined">mail</span>
              <div class="form-group field color_form">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">

              <span class="material-symbols-outlined">
                key
              </span>
              <div class="form-group field color_form">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            </div>
          </div>
          <div class="row align-items-center remember">
            <% if devise_mapping.rememberable? %>
            <div class="form-group field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>
          <div class="form-group">
            <div class="actions">
              <%= f.submit "Ingresar", class:"btn btn-success rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
              <%= link_to "Registrarse" ,new_user_registration_path(), class:"btn btn-warning rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"%>
            </div>
          </div>
          <% end %>
      </div>
      </form>
    </div>
  </div>
</div>
</div>