<div>
	<h1 class="font-bold text-4xl">Completar Turno</h1>
	<div>
		<%= form_with model: @turns do |form| %>
		<%= form.fields_for :turn do |turn| %>
			<div class="card">
			  	<div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" style="background-color:Lavender">
            <%= turn.hidden_field :state, value: 1 %>
            <%= turn.label :Comentario %> <%= turn.text_field :comment ,class: 'card color_form'%><br>
					<br>
					<br> 
			<% end %>
          	<%= form.submit "Completar Turno", class:"btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%></button>
        	</div>
			</div>
      <%end%>
  </div>
</div>