<div>
	<h1 class="font-bold text-4xl">Editar Turno</h1>
	<div>
		<%= form_with model: @turns do |form| %>
			<%= form.fields_for :turn do |turn| %>
				<div class="card">
			  	<div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" style="background-color:Lavender">
				  	<%= turn.label :Dia %> <span class=" card color_form"><%= turn.date_field :date,placeholder: @old_turn.date, value: @old_turn.date ,class: 'color_form'%></span><br>
				  	<%= turn.label :Hora %> <span class="card color_form"><%= turn.time_field :hour, placeholder: @old_turn.hour.strftime('%R'), value: @old_turn.hour.strftime('%R'),class: 'color_form'%></span><br>
            <%= turn.hidden_field :state, value: @old_turn.state %>
			<%= turn.hidden_field :branch_office, value: @old_turn.branch_office.id %>
            <%= turn.label :Razon %> <span class="card color_form"><%= turn.text_field :reason, placeholder: @old_turn.reason, value: @old_turn.reason ,class: 'color_form'%></span><br>
					<br>
					<br> 
			<% end %>
          	<%= form.submit "Editar Turno", class:"btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%></button>
        	</div>
			</div>
    <% end %>
  </div>
</div>