<div class="w-full card">
  <div class="card-title">

    <div class="flex justify-between items-center">
      <h1 class=" font-bold text-4xl">Turnos</h1>
    </div>
    <% if current_user.client?%>
      <%=link_to "Agregar Turnos", new_turn_path(), class: "btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%>
    <% end%>
  </div>
  <div class="card-body">
    <div>
      <% @turns.each do |turn| %>
      <div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
        style="background-color:Lavender">
        <p> <b>Fecha:</b> <%= turn.date%> <br> </p>
        <p> <b>Hora: </b><%= turn.hour.strftime('%R')%><br> </p>
        <p> <b>Estado: </b><% if turn.state == 0 %> Pendiente  <% else %> Completado <% end %><br> </p>
        <% if current_user.client? && turn.state == 0 %>
        <div class="d-flex">
          <%= link_to 'Editar Turno', edit_turn_path(turn), class: "btn btn-info rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium inline" %>
          <%= button_to "Cancelar Turno", destroy_turn_path(turn),method: :delete, class:"btn btn-danger rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium inline"%>
        </div>
        <% else %>
          <% if turn.state == 0 %>
            <%= link_to "Completar Turno", complete_turn_path(turn), class:"btn btn-warning rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"%>
          <% end %>
        <% end %>
      </div>
      <%end%>
    </div>
  </div>
</div>
