<div>
	<h1 class="font-bold text-4xl">Nuevo Turno</h1>
	<div>
		<%= form_with model: @turns do |form| %>
			<%= form.fields_for :turn do |turn| %>
				<div class="card">
			  	<div class="my-5 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" style="background-color:Lavender">
				  	<%= turn.label :Dia %> <span class=" card color_form"><%= turn.date_field :date, class: 'color_form'%></span><br>
				  	<%= turn.label :Hora %> <span class="card color_form"><%= turn.time_field :hour, class: 'color_form'%></span><br>
            <%= turn.hidden_field :state, value: 0 %>
            <%= turn.label :Razon %> <span class="card color_form"><%= turn.text_field :reason, class: 'color_form'%></span><br>
						Sucursal: <a style="color:black"><%= select_tag :branch_office, options_from_collection_for_select(@branch_offices, "id", "name"), {inlude_blanck: true} %> </a><br>
					<br>
					<br> 
			<% end %>
          	<%= form.submit "Crear Turno", class:"btn btn-success rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"%></button>
        	</div>
			</div>
    <% end %>
  </div>
</div>